@charset "utf-8";
body,html{
    height: 100%;
}
.gWidth{width:640px;margin-left:auto;margin-right:auto;box-sizing:border-box;}
.swiper-container{
    width: 100%;
    height: 100%;
}
@-webkit-keyframes myfirst
	{
		0%   {background: red;left:0px;top:0px;}
		25%  {background: yellow;left:0;top:0px;}
		50%  {background: blue;left:0;top:200px;}
		75%  {background: green;left:0px;top:200px;}
		100% {background: red;left:0px;top:300px;}
	}
@-webkit-keyframes logo{
	0%{left:-640px;top:57px;}
	100%{left:0;top:57px;}
}
/*
.logoAnm{-webkit-animation:logo 1s linear;animation:logo 1s linear;-webkit-animation-timing-function:cubic-bezier(1.42,200,22,90);}
*/

.logoAnm{-webkit-animation:logo 1s cubic-bezier(1.42,200,22,90) ease;
-webkit-animation: 1s logo cubic-bezier(0.68, -0.05, 0, 1.36);
		animation:logo 1s cubic-bezier(1.42,200,22,90);
		}

.swiper-slide{height:100%;position:relative;}
.swiper-slide img{height:100%;width:100%;}
.page1_img1{position: absolute;left:0;top:300px;}
.page1_img2{position: absolute;left:0;top:300px;}
.page1_img3{position: absolute;left:0;top:57px;}
.page1_img4{position: absolute;left:0;top:300px;width:100%;height:300px;background:red;}
.page1_img4 h3{font-size:40px;}

.showtest{-webkit-animation:myfirst 5s;}





